**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
view/**/build
view/**/dist
view/**/node_modules
docker/server/app
docker/.env

# eslint cache
**/.eslintcache

.DS_Store

debug.env
prod.env

build.sh
dev.sh

go.sum