.f1 { 
    flex: 1 
}
.f2 { 
    flex: 2 
}
.f3 { 
    flex: 3 
}
.f4 { 
    flex: 4 
}
.f5 { 
    flex: 5 
}
.f6 { 
    flex: 6 
}
.f7 { 
    flex: 7 
}
.f8 { 
    flex: 8 
}
.f9 { 
    flex: 9 
}
.f10 { 
    flex: 10 
}
.f11 { 
    flex: 11 
}
.f12 { 
    flex: 12 
}
.fill {
    width: 100%;
    height: 100%;
}
.fill-w {
    width: 100%;
}
.fill-h {
    height: 100%;
}
.col {
    flex-direction:column;
}
.col-fs-fs {
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
}
.col-fs-c {
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
.col-fs-fe {
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-end;
}
.col-fs-bl {
    flex-direction:column;
    justify-content:flex-start;
    align-items:baseline;
}
.col-fs-st {
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
}
.col-c-fs {
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
.col-c-c {
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.col-c-fe {
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
}
.col-c-bl {
    flex-direction:column;
    justify-content:center;
    align-items:baseline;
}
.col-c-st {
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
}
.col-fe-fs {
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-start;
}
.col-fe-c {
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
}
.col-fe-fe {
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
}
.col-fe-bl {
    flex-direction:column;
    justify-content:flex-end;
    align-items:baseline;
}
.col-fe-st {
    flex-direction:column;
    justify-content:flex-end;
    align-items:stretch;
}
.col-sb-fs {
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
}
.col-sb-c {
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.col-sb-fe {
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-end;
}
.col-sb-bl {
    flex-direction:column;
    justify-content:space-between;
    align-items:baseline;
}
.col-sb-st {
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
}
.col-sa-fs {
    flex-direction:column;
    justify-content:space-around;
    align-items:flex-start;
}
.col-sa-c {
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
.col-sa-fe {
    flex-direction:column;
    justify-content:space-around;
    align-items:flex-end;
}
.col-sa-bl {
    flex-direction:column;
    justify-content:space-around;
    align-items:baseline;
}
.col-sa-st {
    flex-direction:column;
    justify-content:space-around;
    align-items:stretch;
}
.col-se-fs {
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-start;
}
.col-se-c {
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.col-se-fe {
    flex-direction:column;
    justify-content:space-evenly;
    align-items:flex-end;
}
.col-se-bl {
    flex-direction:column;
    justify-content:space-evenly;
    align-items:baseline;
}
.col-se-st {
    flex-direction:column;
    justify-content:space-evenly;
    align-items:stretch;
}
row {
    flex-direction:row;
}
.row-fs-fs {
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
}
.row-fs-c {
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
.row-fs-fe {
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-end;
}
.row-fs-bl {
    flex-direction:row;
    justify-content:flex-start;
    align-items:baseline;
}
.row-fs-st {
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}
.row-c-fs {
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}
.row-c-c {
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.row-c-fe {
    flex-direction:row;
    justify-content:center;
    align-items:flex-end;
}
.row-c-bl {
    flex-direction:row;
    justify-content:center;
    align-items:baseline;
}
.row-c-st {
    flex-direction:row;
    justify-content:center;
    align-items:stretch;
}
.row-fe-fs {
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-start;
}
.row-fe-c {
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}
.row-fe-fe {
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-end;
}
.row-fe-bl {
    flex-direction:row;
    justify-content:flex-end;
    align-items:baseline;
}
.row-fe-st {
    flex-direction:row;
    justify-content:flex-end;
    align-items:stretch;
}
.row-sb-fs {
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}
.row-sb-c {
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.row-sb-fe {
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
}
.row-sb-bl {
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
}
.row-sb-st {
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
}
.row-sa-fs {
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-start;
}
.row-sa-c {
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}
.row-sa-fe {
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
}
.row-sa-bl {
    flex-direction:row;
    justify-content:space-around;
    align-items:baseline;
}
.row-sa-st {
    flex-direction:row;
    justify-content:space-around;
    align-items:stretch;
}
.row-se-fs {
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-start;
}
.row-se-c {
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
.row-se-fe {
    flex-direction:row;
    justify-content:space-evenly;
    align-items:flex-end;
}
.row-se-bl {
    flex-direction:row;
    justify-content:space-evenly;
    align-items:baseline;
}
.row-se-st {
    flex-direction:row;
    justify-content:space-evenly;
    align-items:stretch;
}
.as-fs {
    align-self:flex-start
}
.as-c {
    align-self:center
}
.as-fe {
    align-self:flex-end
}
.as-st {
    align-self:stretch
}
.as-bl {
    align-self:baseline
}
.as-at {
    align-self:auto
}
.ac-fs {
    align-content: flex-start
}
.ac-c {
    align-content: center
}
.ac-fe {
    align-content: flex-end
}
.ac-sb {
    align-content: space-between
}
.ac-sa {
    align-content: space-around
}
.ac-st {
    align-content: stretch
}